<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;500;700&family=Permanent+Marker&display=swap"
      rel="stylesheet">
  </head>
  <body>
    <div class="index_container">
      <header>
        <div class="logo">
          <a href="#">
            <img src="https://cdn.discordapp.com/attachments/882362353507778613/975983795847172156/logo2-01-removebg-preview.png"
              alt="logo">
          </a>
        </div>
      
        <a href="/login">Sign in</a>
      </header>
      
      <div class="index_section">
        <div class="left">
          <h2>Heart Trust NSTA</h2>
          <h1>Stony Hill</h1>
          <h3>Cafeteria</h3>
          <br><br>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod id sint nobis unde molestias reprehenderit. Unde dolores accusamus similique, dignissimos, recusandae excepturi nemo maiores sint nulla vero ipsa aut iste esse consequuntur! Sint voluptas debitis voluptatem molestias officiis saepe ab quibusdam facilis, totam ducimus quasi incidunt neque. Commodi, maiores libero!</p><br><br><br>

          <a href="/meals">View meals</a>
        </div>

        <div class="right">
          <img src="https://cdn.discordapp.com/attachments/882362353507778613/975995932669792326/vector-canteen-illustration-removebg-preview.png" alt="">
        </div>
      </div>

      <footer>
        <section>
          <div class="one">
            <h1>Caf Info</h1><br>
            <a href="#">About the caf</a>
            <a href="#">Menu</a>
            <a href="#">Food Quality</a>
            <a href="#">News & Press</a>
          </div>

          <div class="two">
            <h1>My Caf</h1><br>
            <a href="#">Caf app</a>
            <a href="#">Gift cards</a>
            <a href="#">Reload card</a>
            <a href="#">Check card balance</a>
          </div>

          <div class="three">
            <h1>Careers</h1><br>
            <a href="#">Careers home</a>
            <a href="#">Opportunities</a>
            <a href="#">Apply</a>
          </div>

          <div class="four">
            <h1>Caf cares</h1><br>
            <a href="#">Nutrition Explorer</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Caf foundation</a>
            <a href="#">Diversity</a>
          </div>
        </section>

        <a href="#">ad</a>
      </footer>
    </div>
  </body>
</html>