<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="index_container">
      <header>
        <div class="logo">
          <img
            src="https://cdn.discordapp.com/attachments/882362353507778613/975983795847172156/logo2-01-removebg-preview.png"
            alt="logo">
        </div>
      
        <a href="">Sign in</a>
      </header>
      
      <div class="index_section">
        <div class="left">
          <h2>Heart Trust NSTA</h2>
          <h1>Stony Hill</h1>
          <h3>Cafeteria</h3>
          <br><br>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod id sint nobis unde molestias reprehenderit. Unde dolores accusamus similique, dignissimos, recusandae excepturi nemo maiores sint nulla vero ipsa aut iste esse consequuntur! Sint voluptas debitis voluptatem molestias officiis saepe ab quibusdam facilis, totam ducimus quasi incidunt neque. Commodi, maiores libero!</p><br><br><br>

          <a href="">View meals</a>
        </div>

        <div class="right">
          <img src="https://cdn.discordapp.com/attachments/882362353507778613/975995932669792326/vector-canteen-illustration-removebg-preview.png" alt="">
        </div>
      </div>

      <footer>
        
      </footer>
    </div>
  </body>
</html>