<!DOCTYPE html>
<html lang="en">
<html>
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
        <div class="body_contain">
            <div class="left">
                <img src="https://cdn.discordapp.com/attachments/882362353507778613/975995932669792326/ vector-canteen-illustration-removebg-preview.png" alt="">
            </div>

            <div class="right">
                <div class="form_ctrl">
                    <form action="login/authlogin" method="post">
                        <h1>Trainee Login</h1>
            
                        <div class="input_ctrl">
                            <label for="username">Username</label>
                            <input type="text" id="email" name="email">
                        </div>
                        <div class="input_ctrl">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password">
                        </div>
            
                        <button type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>