
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background: #b8e4d5;
}

/* ***************INDEX**************** */
/* header*********************** */
header{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.logo img{
  width: 20%;
}

header>a{
  border: 2px solid;
  border-radius: 20px;
  padding: 0.5% 1%;
  text-decoration: none;
  color: #4b7668;
}
<<<<<<< Updated upstream
header>a:hover{
  border: none;
  background: #4b7668;
  color: #b8e4d5;
}

/* index_section*********************** */
.index_section{
  display: flex;
  justify-content: space-between;
}
.index_section .left{
  /* border: 1px solid red; */
  width: 50%;
  padding: 5%;
  text-align: left;
}
.index_section .left h1{
  font-size: 80px;
  font-weight: bold;
  color: #4b7668;
}
.index_section .left h2{
  font-size: 50px;
  font-weight: bold;
  color: #4b7668;
}
.index_section .left h3, .index_section .left p{
  color: #4b7668;
}
.index_section .left a{
  border-radius: 20px;
  background:#4b7668;
  padding: 2%;
  text-decoration: none;
  text-align: right;
  color: white;
}

.index_section .right{
  /* border: 1px solid red; */
  width: 50%;
  padding: 5%;
}
.index_section .right img{
  width: 100%;
}

/* footer*********************** */
footer{
  background: #95baad;
  padding: 5%;
  position: relative;
}

footer section{
  display: flex;
  justify-content: space-evenly;
}

.one, .two, .three, .four{
  display: flex;
  flex-direction: column;
}
.one h1, .two h1, .three h1, .four h1 {
  font-family: 'Permanent Marker', cursive;
  font-weight: lighter;
  color: #38584e;
}
.one a,.two a, .three a, .four a{
  text-decoration: none;
  color: white;
  padding: 2% 0 ;
}
.one a:hover, .two a:hover, .three a:hover, .four a:hover{
  text-decoration: underline #38584e;
}

/* admin login*********************** */
footer>a{
  border: 1px solid red;
  text-decoration: none;
  color: #95baad;
  position: absolute;
  right: 0;
  bottom: 0;
}



=======
>>>>>>> Stashed changes
